body {
  background: black;
}

#beautiful_ib_results {
  font-family: sans-serif;
}

#close {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 2em;
  background: none;
  margin: 0;
  border: none;
}

.header {
  text-align: center;
  margin: 2em;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}

.subject-list {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
}

.card {
  justify-self: center;
  width: 15em;
  height: 15em;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1em;
}

.card-face {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card .spacer {
  flex-grow: 1;
}

.card header {
  margin-bottom: 10px;
  align-self: flex-start;
}

.card h3 {
  font-size: 1.6em;
  margin: 0;
  display: inline;
}

.card span {
  font-size: 1.6em;
  padding: 0 10px;
  color: rgba(0,0,0,0.7);
}

.card button {
  align-self: flex-end;
  width: 100%;
  background: none;
  margin: 0;
  border: none;
  color: rgba(0,0,0,0.7);
  font-weight: 100;
  font-size: 1.6em;
}

.back {
  display: none;
}
